$light-green: #14A098;
$light-gray: #CCCCCC;
$light-purple: #CB2D6F;
$dark-purple: #501F3A;

//Defining mixin
@mixin zero-margin($pad-up-down, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-down $pad-left-right; 
} 
.modal-header {
	background: $light-green;
}
.modal-body, body {
	background: $light-gray;
}
.row-content {
	@include zero-margin(50px, 0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}
.modal-header h4 {
	color: $light-gray;
}
h1 {
	text-align: center;
	color: #501F3A;
}
#myTable tr {
	background-color: $light-green;
}
thead {
	background-color: $light-purple;
	color: $dark-purple;
	text-transform: uppercase;
}
a {
	color: $light-purple;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	color: $light-gray;
}