.modal-header {
  background: #14A098; }

.modal-body, body {
  background: #CCCCCC; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.modal-header h4 {
  color: #CCCCCC; }

h1 {
  text-align: center;
  color: #501F3A; }

#myTable tr {
  background-color: #14A098; }

thead {
  background-color: #CB2D6F;
  color: #501F3A;
  text-transform: uppercase; }

a {
  color: #CB2D6F;
  font-weight: bold; }

a:hover {
  text-decoration: none;
  color: #CCCCCC; }
